
.App {
  text-align: center;
  text-color: white;
  color: white;
}

.nav {
    position: relative;
    width: 100%;
    background-color: #dab894;
    transition: all .7s ease-in;
		      
}

table {
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

thead {
    display: inline-block;
}

#navlinks-th {
    position: absolute;
    right: 5%;
}

th, td {
	padding: 0.25em;
}

.scrolled {
    position: fixed;
    top: 0;
    left: 0;
}
    

ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 0.25em;
    text-align: center;
    background-color: #dab894
}

li {
    display: inline;
}

a {
    display: inline;
    padding: 1.2em;
    text-decoration: none;

}

.icon-img-ctn {
    padding: 0;
}
.icon-img {
}

a:link {
    color: #f1ffc4
}

a:visited {
    color: black
}

.circle-img {
    margin: auto;
    width: 20%;
    border-radius: 50%;
    
}

.about-me-body {
    margin: auto;
}

.about-me-ctn {
    margin: auto;

}
