#lcol {
    flexDirection: 'column';
    justifyContent: 'space-between';
    width: 15%;
    background-color: #a7bed3
}

#mcol {
    flexDirection: 'column';
    justifyContent: 'space-between';
    width: 70%;
    background-color: #dab894
}

#rcol {
    flexDirection: 'column';
    justifyContent: 'space-between';
    width: 15%;
    background-color: #a7bed3
}

